<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="../stylesheets/normalize.css">
  <link rel="stylesheet" href="../stylesheets/skeleton.css">

  <link rel="icon" type="image/png" href="images/favicon.png">

</head>

<body>

  <div class="container">
    <div class="row" style="margin-top:5%">
      <div class="three columns">&nbsp;</div>
      <div class="six columns">
        <form id="login" name="login">
          <div class="row">
            <div class="six columns">
              <label for="emailInpuut">Your email</label>
              <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="username">
            </div>
            <div class="six columns">
              <label for="pwdInput">Your password</label>
              <input class="u-full-width" type="password" placeholder="Your password" id="password">
            </div>
          </div>
          <input class="button-primary u-pull-right" type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
    $("#login").submit(function(e) {
      e.preventDefault();

      var data = {};
      data.user = $('#username').val();
      data.pass = $('#password').val();


      $.ajax({
        method: 'POST',
        url: '/login',
        data: JSON.stringify(data),
        contentType: 'application/json',
        processData: false
      }).done(function(response) {
        if (response.status === 'fail') {
          console.error(response.message, 'Error occured!')
        }
        if (response.status === 'success') {
          console.log(response.message)
          location.reload();
        }
      });

    });
  </script>

</body>

</html>
